@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

body,
html {
	font-family: "Source Sans Pro", sans-serif;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}

:root {
	--primary-color: #99c50a;
	--primary-light-color: #bcda5c;
	--primary-dark-color: #88ae0b;
	--secondary-color: #26a6d1;
}
