.navbar {
	background-color: #ffffff;
}

.navbar__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 30px;
	z-index: 10;
}

.navbar.active {
	position: sticky;
	top: 0;
}

.navbar__heading {
	font-family: inherit;
	color: var(--secondary-color);
	font-weight: bold;
	font-size: 32px;
	line-height: 26px;
	margin: 0;
}

.navbar__links {
	cursor: pointer;
	color: var(--secondary-color);
	list-style: none;
	display: flex;
	align-items: center;
	gap: 50px;
	margin: 0;
}

.navbar__links li > a {
	font-family: inherit;
	font-weight: bolder;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease;
}

.navbar__links li > a:hover {
	color: var(--primary-color);
}

.navbar__links li:first-of-type {
	position: relative;
	color: var(--primary-color);
}

.navbar__links li:first-of-type > svg {
	position: absolute;
	top: -15px;
	left: 30%;
	color: var(--secondary-color);
}
